@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "My Scriptures Journal";

   
}

@*<div class="container ">

    <h2>MegaDesk</h2>
    <div class="jumbotron">
        <div class="grid">
            <div class="col-3">
      
            </div>
            <div class="col-6 img-back-ground">

            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <h2>MegaDesk</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" href="~/Create.cshtml"> Add Quote</a><hr />
                <a class="btn btn-primary" href="~/DisplayQuote.cshtml"> View Quote</a><hr />
                <a class="btn btn-primary" href="~/Edit.cshtml"> Edit Quote</a>
            </div>
            <div class="col">
                <img src="~/images/desk.png" />
            </div>
        </div>
    </div>
</div>
