@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "My Scriptures Journal";

   
}

<div class="container">

    <h2>MegaDesk</h2>
    <div class="jumbotron">

        <a class="btn btn-primary btn-lg" href="~/Create.cshtml"> Add Quote &raquo;</a>
    </div>

</div>